.body {
    .mat-spinner{
        // margin: 0 auto;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(9, 49, 121, 0.8211659663865546) 38%,
        rgba(249, 249, 249, 0) 95%
    );
    color: #f1f2f3;

    .login {
        text-align: center;
        img {
            width: 300px;
        }
        .w-80 {
            width: 80%;
        }
        button{
            padding: .3em;
        }
    }
}
